<div class="education row">
  <div class="detail col-md-6">
    <div class="more font-color">MORE ABOUT ME</div>
    <div class="edu">Education</div>
    <div class="line font-color">
      South Madarsha S.S. High School(2005-2010)
    </div>
    <div class="head font-size">High School</div>
    <div class="para">
      The quick brown fox jumps over lazy dog.It is the goto line for learning
      touch tpying.
    </div>

    <div class="line font-color">Hajara Taju University Collage(2010-2012)</div>
    <div class="head font-size">Collage</div>
    <div class="para">
      The quick brown fox jumps over lazy dog.It is the goto line for learning
      touch tpying.
    </div>

    <div class="line font-color">USTC(2012-2017)</div>
    <div class="head font-size">University</div>
    <div class="para">
      The quick brown fox jumps over lazy dog.It is the goto line for learning
      touch tpying.
    </div>
  </div>
  <div class="photo col-md-6">
    <img
      src="assets/Right.svg"
      alt="img not found"
      height="450px"
      width="350px"
    />
  </div>
</div>
