.education {
  display: flex;
  background-color: #313536;
  color: white;
}
.font-color {
  color: #00e472 !important;
}
.font-size {
  font-size: 22px !important;
}
.edu {
  font-size: 30px;
  padding-top: 18px;
}
.detail {
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
line {
  padding-top: 20px;
}
.head {
  padding-top: 20px;
}
.para {
  padding-top: 20px;
}
.photo {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
}
