<div class="icons row">
  <div class="icon-data col-md-3">
    <div class="icon">
      <div class="text rounded-circle">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
        />
      </div>
    </div>
    <div class="num">17</div>
    <div class="pro">projects</div>
  </div>
  <div class="icon-data col-md-3">
    <div class="icon">
      <div class="text rounded-circle">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
        />
      </div>
    </div>
    <div class="num">12</div>
    <div class="pro">Stars</div>
  </div>
  <div class="icon-data col-md-3">
    <div class="icon">
      <div class="text rounded-circle">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
        />
      </div>
    </div>
    <div class="num">22</div>
    <div class="pro">Clients</div>
  </div>
  <div class="icon-data col-md-3">
    <div class="icon">
      <div class="text rounded-circle">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
        />
      </div>
    </div>
    <div class="num">32</div>
    <div class="pro">Awards</div>
  </div>
</div>
