<div class="have row">
  <div class="letters col-md-6">
    <div class="line">
      I have lots of things to prove to myself.One is I can live my life
      fearlessly.
    </div>
    <div class="para">Web Developer,Problem Solver and a Hiker</div>
    <div class="buttons">
      <button class="button1">Learn More</button>
      <button class="button2">Contact</button>
    </div>
  </div>
  <div class="picture col-md-6">
    <img src="assets/computer.png" alt="image not found" class="image" />
  </div>
</div>
