<div class="middle row">
  <div class="middlePart1 col-md-6">
    <img src="assets/man.svg" alt="img not found" class="imageMan" />
  </div>
  <div class="middlePart2 col-md-6">
    <div class="about">ABOUT ME</div>
    <div class="heading">Web Developer</div>
    <div class="php">
      PHP, ASP, Ruby, Python, etc. Medium skill in database, server work, medium
      skill in JavaScript, light skill in HTML.
    </div>
    <div class="very">
      This is very diffrent from Front End Developer as there is little working
      with the design and heavier on programming concepts and concerns, like
      security and structure.
    </div>
  </div>
</div>
