.middle {
  display: flex;
  background-color: #313536;
  color: white;
}
.imageMan {
  height: 380px;
  width: 300px;
  margin-left: 25px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: right;
}
.middlePart2 {
  padding-top: 80px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}
.about {
  color: #00e472;
}
.heading {
  font-size: 36px;
  padding-top: 25px;
}
.php {
  padding-top: 25px;
  font-size: 16px;
}
.very {
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 40px;
}
