.devlop {
  background-color: black;
  color: white;
}
.more {
  color: #00e472;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  display: flex;
}
.dev {
  padding-top: 30px;
  justify-content: center;
  font-size: 28px;
  text-align: center;
}
.boxes {
  display: flex;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
}
.box {
  height: 290px;
  width: 290px;
  border: 2px solid #00e472;
  border-radius: 8px;
  background-color: black;
  margin-right: 20px;

  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.box1 {
  height: 60px;
  width: 60px;
  background-color: green;
  border-radius: 5px;
  border: 2px solid green;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}
.web {
  font-size: 20px;
  padding-top: 20px;
}
.para {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.position {
  justify-content: center !important;
}
.icon {
  margin-top: 10px;
}
.box2 {
  height: 60px;
  width: 60px;
  background-color: green;
  border-radius: 5px;
  border: 2px solid green;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.box3 {
  height: 60px;
  width: 60px;
  background-color: green;
  border-radius: 5px;
  border: 2px solid green;
  margin-top: 40px;
  margin-left: 20px;
  text-align: center;
}
.boxHead {
  display: flex;
}
.google {
  margin-top: 50px;
  color: #00e472;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}
.webs {
  padding-top: 0px;
  padding-left: 10px;
  font-size: 20px;
}
.desk {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.para1 {
  padding-top: 20px;
}
