<div class="devlop">
  <div class="more">MORE ABOUT ME</div>
  <div class="dev">Development</div>
  <div class="boxes row">
    <div class="box col-md-4">
      <div class="box1">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
          class="icon"
        />
      </div>
      <div class="web">Web Applications</div>
      <div class="para1">
        PHP,ASP,Ruby,Python,etc.<br />Medium skill in database/server work,
        medium skill in JavaScript, light skill in HTML.
      </div>
    </div>
    <div class="box col-md-4">
      <div class="box2">
        <img
          src="assets/Vector.png"
          alt="img not found"
          height="35px"
          width="35px"
          class="icon"
        />
      </div>
      <div class="desk">Desktop Applications</div>
      <div class="para">
        PHP,ASP,Ruby ,Python,etc.Medium skill in database/server work, medium
        skill in JavaScript, light skill in HTML.
      </div>
    </div>
    <div class="box col-md-4">
      <div class="boxHead">
        <div class="box3">
          <img
            src="assets/Vector.png"
            alt="img not found"
            height="35px"
            width="35px"
            class="icon"
          />
        </div>
        <div class="lines">
          <div class="google">GOOGLE-2024</div>
          <div class="webs">Mobile Applications</div>
        </div>
      </div>
      <div class="para">
        PHP,ASP,Ruby ,Python,etc.Medium skill in database/server work, medium
        skill in JavaScript, light skill in HTML.
      </div>
    </div>
  </div>
</div>
