<div class="header row">
  <div class="shimul col-md-3">
    <img
      src="assets/Logo.png"
      alt="image not found"
      height="30px"
      width="150px"
    />
  </div>
  <div class="link col-md-6">
    <div><a (click)="onHomeClick()" class="nav-link">Home</a></div>
    <div><a (click)="onAboutClick()" class="nav-link">About</a></div>
    <div><a (click)="onSkillsClick()" class="nav-link">Skills</a></div>
    <div><a (click)="onClientsClick()" class="nav-link">Clients</a></div>
    <div><a (click)="onBlogClick()" class="nav-link">Blog</a></div>
  </div>

  <div class="contact col-md-3">
    <button class="button">Contact</button>
  </div>
</div>
