.header {
  color: white;
  background-color: #313536;
  display: flex;
  padding: 10px 40px;
}
.link {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.contact {
  text-align: right;
}
.button {
  background-color: #00e472;
  color: white;
  width: 120px;
  border: 2px solid #00e472;
  border-radius: 7px;
  text-align: center;
  padding-bottom: 5px;
}
.shimul {
  text-align: left;
}
.link a:hover {
  background-color: #00e472;
  display: block;
}
.nav-link {
  cursor: pointer;
}
