.last {
  color: white;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.square {
  height: 290px;
  width: 290px;
  border: 2px solid #00e472;
  border-radius: 8px;
  background-color: black;
  margin-right: 20px;
  margin-bottom: 10px;
}
.squares {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.what {
  color: green;
  font-size: 16px;
  // padding-top: 90px;
  padding-left: 40px;
}
.clientLine {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 30px;
}
.main {
  display: flex;
  padding-top: 30px;
}
.line1 {
  color: green;
  font-size: 15px;
}
.line2 {
  font-size: 22px;
}
.headLine {
  padding-left: 10px;
  padding-top: 12px;
}
.smallImage {
  height: 70px;
  width: 70px;
  margin-left: 25px;
}
.paraLine {
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 25px;
}
