<div class="last">
  <div class="what">WHAT PEOPLE SAYING</div>
  <div class="clientLine">Clients</div>
  <div class="squares row">
    <div class="square col-md-4">
      <div class="main">
        <div class="imageIcon">
          <img src="assets/img1.svg" alt="img not found" class="smallImage" />
        </div>
        <div class="headLine">
          <div class="line1">DJANGO APP</div>
          <div class="line2">Noel Barber</div>
        </div>
      </div>
      <div class="paraLine">
        PHP,ASP,Ruby,Pyton,etc.Medium skill in database/server work, medium
        skill in JavaScript,light skill in HTML
      </div>
    </div>
    <div class="square col-md-4">
      <div class="main">
        <div class="imageIcon">
          <img src="assets/img2.svg" alt="img not found" class="smallImage" />
        </div>
        <div class="headLine">
          <div class="line1">WEBSITE</div>
          <div class="line2">Darla Stevenson</div>
        </div>
      </div>
      <div class="paraLine">
        PHP,ASP,Ruby,Pyton,etc.Medium skill in database/server work, medium
        skill in JavaScript,light skill in HTML
      </div>
    </div>
    <div class="square col-md-4">
      <div class="main">
        <div class="imageIcon">
          <img src="assets/img3.svg" alt="img not found" class="smallImage" />
        </div>
        <div class="headLine">
          <div class="line1">WEB APPLICATIONS</div>
          <div class="line2">Francis Wolfe</div>
        </div>
      </div>
      <div class="paraLine">
        PHP,ASP,Ruby,Pyton,etc.Medium skill in database/server work, medium
        skill in JavaScript,light skill in HTML
      </div>
    </div>
  </div>
</div>
