<div class="web row">
  <div class="text col-md-6">
    <div class="iam">I am a Web developer.<br />And I excel at what I do.</div>
    <div class="quick">
      The quick brown fox jumps over the lazy dog.It is the goto line for
      learning touch tpying.I use this line quite often.And it is very
      helpful.Someone came up with this brillient line and help probably a
      million people
    </div>
  </div>
  <div class="rings col-md-6">
    <div class="part1">
      <div class="container">
        <img
          src="assets/ring.svg"
          alt="img not found"
          height="160px"
          width="160px"
        />
        <div class="centered">Django</div>
      </div>
      <div class="container">
        <img
          src="assets/ring.svg"
          alt="img not found"
          height="160px"
          width="160px"
        />
        <div class="centered">PHP</div>
      </div>
    </div>
    <div class="part2">
      <div class="container">
        <img
          src="assets/ring.svg"
          alt="img not found"
          height="160px"
          width="160px"
        />
        <div class="centered">Java</div>
      </div>
      <div class="container">
        <img
          src="assets/ring.svg"
          alt="img not found"
          height="160px"
          width="160px"
        />
        <div class="centered">Spring</div>
      </div>
    </div>
  </div>
</div>
